@import "tailwindcss";
@import "./themes.css";
@import "./prose.css";

@view-transition {
    navigation: auto;
}

:root [data-color-theme] {
    --promo-bar-h: 0px;
    --desktop-menu-h: 0px;
    --mobile-menu-h: 0px;
    --promo-bar-duration: 260ms;
    --menu-announcement-h: calc(max(var(--desktop-menu-h), var(--mobile-menu-h)) + var(--promo-bar-h) + 1px);
    --fixed-booking-button-h: 0px;
    --fade-in-transition: opacity 300ms ease-in-out;
    --fade-in-animation: fade-in 500ms ease;
    --fade-up-in-animation: fade-up-in 1000ms ease;

    /**
    `backwards` starts new animation during previous' animation delay,
    `forward` keeps final value,
    so `both` is what we need.
    */
    --char-appear-animation: char-appear 100ms ease-out both;
    --char-stagger: 50ms;

    /* colors */
    /*color-scheme: light dark;*/
    /*color-scheme: light;*/
    /*color-scheme: dark;*/
    /*--background-color-light: ivory;*/
    /*--background-color-dark: oklch(0.2471 0.0185 34.94);*/
    /*--background-color: light-dark(var(--background-color-light), var(--background-color-dark));*/

    /*--accent-color-1-light: lightgray;*/
    /*--accent-color-1-dark: oklch(0.4849 0.0185 34.94);*/
    /*--accent-color-1: light-dark(var(--accent-color-1-light), var(--accent-color-1-dark));*/

    /*--font-color-logo-light: crimson;*/
    /*--font-color-logo-dark: oldlace;*/
    /*--font-color-logo: light-dark(var(--font-color-logo-light), var(--font-color-logo-dark));*/


    /*--linear-gradient-diagonals-color: #D8BFD8;*/
    --linear-gradient-diagonals-color: var(--color-accent);


    --transition-focus: --focus-gap-spread 120ms ease,
    --focus-gap-color 120ms ease,
    outline-color 120ms ease,
    outline-offset 120ms ease;

    --transition-decorative: --element-shadow-x 300ms ease,
    --element-shadow-y 300ms ease,
    --element-shadow-color 300ms ease,
    background-color 300ms ease,
    color 300ms ease;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-up-in {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/** CHAR SEQUENCES **/

.char-sequence {
    white-space: pre-wrap;
}

.char-sequence .char-appear {
    opacity: 0;
    display: inline-block;
}

.char-sequence {
    --sequence-delay: 0ms;
}

.char-sequence.animate .char-appear {
    animation: var(--char-appear-animation);
    animation-delay: calc(sibling-index() * var(--char-stagger));
    /*animation-timeline: view();*/

    /*opacity: 1;*/
    /*transition: opacity 0.01s ease-out;*/
    /*transition-delay: calc(sibling-index() * 100ms);*/
}

@keyframes char-appear {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/** FONTS **/

@font-face {
    font-family: "CL Antique 37";
    src: url("../domain/fonts/assets/CL_Antique_37.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    /*font-weight: 100 900;*/
    /*font-style: normal;*/
    /*font-display: swap;*/
}

@font-face {
    font-family: "CL Antique 48";
    src: url("../domain/fonts/assets/CL_Antique_48.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/** MISC **/

.torn-bottom {
    margin-bottom: -10px;
    clip-path: shape(from 0 0, vline to calc(100% - 5px), curve to 1.24% calc(100% - 3px) with 0.83% calc(100% - 3px), smooth to 2.07% calc(100% - 1.5px), smooth to 2.89% calc(100% - 4px), smooth to 3.72% calc(100% - 9px), smooth to 4.55% calc(100% - 5.5px), smooth to 5.37% calc(100% - 4px), smooth to 6.2% calc(100% - 4.5px), smooth to 7.02% calc(100% - 2px), smooth to 7.85% calc(100% - 1px), smooth to 8.68% calc(100% - 2px), smooth to 9.5% calc(100% - 2.5px), smooth to 10.33% calc(100% - 4px), smooth to 11.16% calc(100% - 4.5px), smooth to 11.98% calc(100% - 5.5px), smooth to 12.81% calc(100% - 5px), smooth to 13.64% calc(100% - 5px), smooth to 14.46% calc(100% - 8.5px), smooth to 15.29% calc(100% - 6px), smooth to 16.12% calc(100% - 5.5px), smooth to 16.94% calc(100% - 5px), smooth to 17.77% calc(100% - 3px), smooth to 18.6% calc(100% - 5.5px), smooth to 19.42% calc(100% - 8px), smooth to 20.25% calc(100% - 5.5px), smooth to 21.07% calc(100% - 1.5px), smooth to 21.9% calc(100% - 2.5px), smooth to 22.73% calc(100% - 5.5px), smooth to 23.55% calc(100% - 5.5px), smooth to 24.38% calc(100% - 5.5px), smooth to 25.21% calc(100% - 7px), smooth to 26.03% calc(100% - 5.5px), smooth to 26.86% calc(100% - 6px), smooth to 27.69% calc(100% - 7.5px), smooth to 28.51% calc(100% - 5px), smooth to 29.34% calc(100% - 2.5px), smooth to 30.17% calc(100% - 2px), smooth to 30.99% calc(100% - 4.5px), smooth to 31.82% calc(100% - 6px), smooth to 32.64% calc(100% - 4.5px), smooth to 33.47% calc(100% - 6.5px), smooth to 34.3% calc(100% - 6px), smooth to 35.12% calc(100% - 5px), smooth to 35.95% calc(100% - 8px), smooth to 36.78% calc(100% - 6.5px), smooth to 37.6% calc(100% - 4.5px), smooth to 38.43% calc(100% - 5.5px), smooth to 39.26% calc(100% - 6.5px), smooth to 40.08% calc(100% - 5.5px), smooth to 40.91% calc(100% - 5px), smooth to 41.74% calc(100% - 4px), smooth to 42.56% calc(100% - 3px), smooth to 43.39% calc(100% - 2.5px), smooth to 44.21% calc(100% - 3px), smooth to 45.04% calc(100% - 3.5px), smooth to 45.87% calc(100% - 1.5px), smooth to 46.69% calc(100% - 4.5px), smooth to 47.52% calc(100% - 8px), smooth to 48.35% calc(100% - 7.5px), smooth to 49.17% calc(100% - 4px), smooth to 50% calc(100% - 2px), smooth to 50.83% calc(100% - 4px), smooth to 51.65% calc(100% - 5px), smooth to 52.48% calc(100% - 5.5px), smooth to 53.31% calc(100% - 4.5px), smooth to 54.13% calc(100% - 5.5px), smooth to 54.96% calc(100% - 7px), smooth to 55.79% calc(100% - 7px), smooth to 56.61% calc(100% - 5px), smooth to 57.44% calc(100% - 4.5px), smooth to 58.26% calc(100% - 4.5px), smooth to 59.09% calc(100% - 5px), smooth to 59.92% calc(100% - 5.5px), smooth to 60.74% calc(100% - 5px), smooth to 61.57% calc(100% - 3.5px), smooth to 62.4% calc(100% - 3.5px), smooth to 63.22% calc(100% - 7.5px), smooth to 64.05% calc(100% - 5px), smooth to 64.88% calc(100% - 1px), smooth to 65.7% calc(100% - 0.5px), smooth to 66.53% calc(100% - 5px), smooth to 67.36% calc(100% - 9px), smooth to 68.18% calc(100% - 6px), smooth to 69.01% calc(100% - 5px), smooth to 69.83% calc(100% - 7.5px), smooth to 70.66% calc(100% - 8.5px), smooth to 71.49% calc(100% - 6px), smooth to 72.31% calc(100% - 3.5px), smooth to 73.14% calc(100% - 3px), smooth to 73.97% calc(100% - 6px), smooth to 74.79% calc(100% - 8.5px), smooth to 75.62% calc(100% - 5.5px), smooth to 76.45% calc(100% - 2px), smooth to 77.27% calc(100% - 4px), smooth to 78.1% calc(100% - 3.5px), smooth to 78.93% calc(100% - 2px), smooth to 79.75% calc(100% - 4.5px), smooth to 80.58% calc(100% - 3.5px), smooth to 81.4% calc(100% - 2px), smooth to 82.23% calc(100% - 4.5px), smooth to 83.06% calc(100% - 8px), smooth to 83.88% calc(100% - 8.5px), smooth to 84.71% calc(100% - 5px), smooth to 85.54% calc(100% - 3px), smooth to 86.36% calc(100% - 6px), smooth to 87.19% calc(100% - 8.5px), smooth to 88.02% calc(100% - 7.5px), smooth to 88.84% calc(100% - 6px), smooth to 89.67% calc(100% - 4px), smooth to 90.5% calc(100% - 1.5px), smooth to 91.32% calc(100% - 4px), smooth to 92.15% calc(100% - 8.5px), smooth to 92.98% calc(100% - 6.5px), smooth to 93.8% calc(100% - 4px), smooth to 94.63% calc(100% - 3px), smooth to 95.45% calc(100% - 4.5px), smooth to 96.28% calc(100% - 5px), smooth to 97.11% calc(100% - 2px), smooth to 97.93% calc(100% - 5px), smooth to 98.76% calc(100% - 6px), smooth to 100% calc(100% - 5px), vline to 0, hline to 0);
}

.diagonal-lines {
    /* background-image: repeating-linear-gradient(45deg, #0000, #0000 10px, lab(88.9551% -.959665 -4.3943) 10px 11px); */
    background-color: var(--color-surface, transparent);
    background-image: linear-gradient(
            45deg,
            transparent 47%,
            var(--linear-gradient-diagonals-color) 47%,
            var(--linear-gradient-diagonals-color) 50%,
            transparent 50%,
            transparent 97%,
            var(--linear-gradient-diagonals-color) 97%,
            var(--linear-gradient-diagonals-color) 50%
    );
    background-size: .75rem .75rem;
}

